body {
  background-color: #eaf6f6;
}

hr {
  background-color: #eaf6f6;
  width: 5%;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: gray;
}

img {
  height: 200px;
}

h1,
h2 {
  color: #66bfbf;
}

a:hover {
  color: darkturquoise;
}
